<section class="presentation-view">
  <div class="container text-center">
    <h2>Presentation</h2>
    <!-- Large modal -->
    <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Start</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1000">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div class="item" ng-class="{'active': $index === vm.isCurrent}" ng-repeat="gif in vm.gifs">
                <presentation-image gif="gif.full"></presentation-image>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"
                 ng-click="vm.prev()" ng-show="vm.current <= 0">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
                 ng-click="vm.next()" ng-hide="vm.current >= vm.gifs.length">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>