<div class="container">
  <div class="row">
    <section>
      <img class="img-header" src="https://apiaryfund.com/sites/default/files/Plan%20Bee.jpg" width="100%" height="120px">
      <div class="wizard">
        <form-wizard-icons></form-wizard-icons>

        <!-- step 1 -->
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <presentation-type></presentation-type>
            <div class="clearfix"></div>
          </div>

          <!-- step 2 -->
          <div class="tab-pane" role="tabpanel" id="step2">

            <giphy-search gifs="vm.gifs"></giphy-search>

            <div class="clearfix"></div>
          </div>

          <!-- step 3 -->
          <div class="tab-pane" role="tabpanel" id="step3">
            <giphy-list></giphy-list>
            <div class="clearfix"></div>
          </div>

          <!-- presentation -->
          <div class="tab-pane" role="tabpanel" id="complete">
            <rt-presentation-view ng-if="vm.settings.presentationType === 'real-time'"></rt-presentation-view>
            <presentation-view ng-if="vm.settings.presentationType === 'prepare'"></presentation-view>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </section>
  </div>
</div>