<section class="rt">
  <!-- view modal -->
  <button class="btn btn-primary btn-modal"
          data-toggle="modal"
          data-target="#fsModal">
    Start Presentation
  </button>
  <!-- view modal -->

  <!-- modal -->
  <div id="fsModal"
       class="modal animated bounceIn"
       tabindex="-1"
       role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true">

    <!-- dialog -->
    <div class="modal-dialog">

      <!-- content -->
      <div class="modal-content">

        <!--&lt;!&ndash; header &ndash;&gt;-->
        <!--<div class="modal-header">-->
        <!--<h1 id="myModalLabel"-->
        <!--class="modal-title">-->
        <!--}}-->
        <!--</h1>-->
        <!--</div>-->
        <!-- header -->

        <!-- body -->
        <div class="modal-body">
          <presentation-image gif="vm.gif"></presentation-image>
        </div>
        <!-- body -->

        <!-- footer -->
        <div class="modal-footer">
          <button class="btn btn-secondary"
                  data-dismiss="modal">
            close
          </button>
          <button class="btn btn-default">
            Stop
          </button>
          <button class="btn btn-primary" ng-click="vm.exit()">
            Exit
          </button>
        </div>
        <!-- footer -->

      </div>
      <!-- content -->

    </div>
    <!-- dialog -->

  </div>
  <!-- modal -->
</section>