<div class="container">
  <h2>Select Presentation Type</h2>

  <p>{{ptype.type}}</p>
  <br/>

  <form role="form">
    <div class="row form-group product-chooser">

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-click="ptype.select('real-time')">
        <div class="product-chooser-item selected">
          <img src="/images/start-now.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12"
               alt="Mobile and Desktop">

          <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title">No Time</span>
            <span class="description">Real-time presentation.</span>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-click="ptype.select('prepare')">
        <div class="product-chooser-item">
          <img src="/images/prepare.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">

          <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title">Last Minute</span>
            <span class="description">Take a minute to prepare your slides first</span>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </form>
</div>