<div class="container">
  <h2>Presentation Type</h2>

  <div class="row form-group product-chooser">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-click="p.select('real-time')" ng-class="{'selected': p.settings.presentationType === 'real-time'}">
      <div class="product-chooser-item" >
        <img src="/images/start-now.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12"
             alt="Mobile and Desktop">

        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
          <span class="title">No Time</span>
          <span class="description">Real-time presentation.</span>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-click="p.select('prepare')" ng-class="{'selected': p.settings.presentationType === 'prepare'}">
      <div class="product-chooser-item">
        <img src="/images/prepare.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">

        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
          <span class="title">Last Minute</span>
          <span class="description">Take a minute to prepare your slides first</span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <br>

  <h2>Theme</h2>
  <form name="theme" ng-submit="p.selectTheme()">
    <label>
      <input type="radio" ng-model="p.theme" value="">
      None
    </label><br/>
    <label>
      <input type="radio" ng-model="p.theme" value="The Simpsons">
      The Simpsons
    </label><br/>
    <label>
      <input type="radio" ng-model="p.theme" value="Anime">
      Anime
    </label><br/>
    <label>
      <input type="radio" ng-model="p.theme" value="Animals">
      Animals
    </label><br/>
    <label>
      <input type="radio" ng-model="p.theme" value="reactions">
      Reactions
    </label>
    <button type="submit" class="btn btn-secondary">Choose Theme</button>
  </form>

</div>