.giphy-image {
  display: inline-block;
}

.giphy-image img {
  border: solid 2px black;
  margin: 15px;
}

.giphy-image p {
  text-align: center;
}

.giphy-image .selected-image {
  border: solid 5px yellow;
}