<form ng-submit="vm.submit()" novalidate>
  <a href="#search">
    <button class="btn btn-large btn-primary">Search</button>
  </a>


  <div id="search">
    <button type="button" class="close">×</button>
    <form>
      <input type="search" ng-model="vm.gifQuery" placeholder="Search for image(s)"/>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</form>

<div class="giphy-image col-md-6" >
  <img ng-src="{{gif.url}}" ng-click="select(gif)"
       ng-style="{'width':gif.width, 'height':gif.height, 'frameBorder':'0'}">

  <p ng-if="index">{{index}}</p>
</div>


