<div>
  <form ng-submit="vm.submit()" novalidate>
    <center><a href="#search">
      <button class="btn btn-large btn-primary">Search</button>
    </a></center>


    <div id="search">
      <button type="button" class="close">×</button>
      <form ng-submit="vm.submit()">
        <input type="search" ng-model="vm.gifQuery" placeholder="Search for image(s)"/>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </form>

  <giphy-image ng-repeat="gif in vm.searchGifs track by $index"
               gif="gif" index="{{index + 1}}" query="vm.gifQuery"></giphy-image>
</div>